* {
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

#mainDiv {
    background-color: aqua;
    width: auto;
    height: auto;

}

#firstDiv_quizDiv {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    position: relative;
    left: 340px;
    background-color: rebeccapurple;
    height: 100vh;
    width: 80vh;
}

#secondDiv_firstQuestionDiv {
    background-color: aliceblue;
    /* margin: 10px; */
    padding: 20px;
    text-align: center;
    margin: 10px;
}

#timerSpan {
    display: flex;
    justify-content: center;
    background-color: aqua;
    align-items: center;
    height: 5vh;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

#thirdDiv_optionsDiv {
    background-color: brown;
    margin: 10px;
    width: 554px;
    overflow: auto;

}

.pTagOptions {
    /* background-color: blue; */
    border: 1px solid gray;
    margin: 20px;
    padding: 25px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.pTagOptions:hover {
    background-color: rgb(78, 200, 249);
    border-radius: 20px;
    transition: 0.2s;
}

#nextButtonnSpan {
    background-color: antiquewhite;
    height: 48x;
    position: absolute;
    bottom: 10px;
    left: 39.3%;
}

#nextButton {
    padding: 10px;
    width: 100px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    letter-spacing: 5px;
}

.newClass {
    background-color: red;
    border-radius: 10px;
}

.newClass:hover {
    background-color: red;
}

label {
    border: 1px solid gray;
    margin: 50px;

}


/* @media screen and (max-width: 380) and (min-width: 300) {
    
    #mainDiv{
        width: 100vh;
        height: 100vh;
        display: flex;
    }
    
    #firstDiv_quizDiv {
        width: 100vh;
        height: 100vh;
        display: flex;
}

    #secondDiv_firstQuestionDiv{
        width: 100vh;
        height: 100vh;
        display: flex;
    }

    #thirdDiv_optionsDiv{
        width: 100vh;
        height: 100vh;
        display: flex;
    }

} */